/**
* This file contains various constants (paths, for example) that are specific
* to the computer where this code is compiled.
*
* Make a copy of this file as 'config.h' and change it to match your system.
*/

#ifndef __CONFIG_H__
#define __CONFIG_H__

/* The path to the OBJ file */
#define OBJ_PATH "D:/Software Projects/OpenGL/Raytracing-Project/dodgeColorTest.obj"

#endif